# Private/local files
Family Futures EventTabling Feedback.csv
2025_Events_Planning.csv
Local_Emails_Names.csv
Local_SurveyCompletions.csv
Local_asanaData.csv
Local_asanaData_single.csv
Local_surveyMonkey.csv
Image20250630140836.png

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Tableau full WB's
*.twb

# Ignore system files
Thumbs.db

#Ignore test files and data files
/test/
/connectionTest/
/connection1/
/Raw Data/